body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px; 
    border: 20px solid grey;
    background-color: brown;
}

#login > form > span > input[type="text"],[type="password"] {

padding: 20px;
margin: auto;
border: 5px solid green;
border-radius: 10px;

}
#button{
    border-radius: 10px;
    border: 4px solid green;
}
 



