body {
    background-color: green;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header>nav>ul>li>a {
    color: chartreuse;
}

nav>ul>li>a {
    text-decoration: none;
}

#container {
    color: grey;
    width: 1000%;
    border: 2px solid red;
    padding: 150px 20px 10px 5px;
    margin: 2px 0 20px 100px;
}