body {
    background-color: green;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  nav > ul > li > a {
    text-decoration: none;
  }

#container{
  color: grey;
  width: 50%;
  border: 2px solid red;
  /* padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 25px;
  */
  padding: 150px 20px 10px 5px;
  margin: 2px 0 20px 100px;
} 
